{:aliases {:test {:extra-paths ["test-pass"
                                "test-fail"]
                  :extra-deps {metosin/bat-test {:local/root "../.."
                                                 :deps/manifest :deps}}
                  :exec-fn metosin.bat-test.cli/exec
                  :exec-args {:test-selectors-form-file "test-selectors.clj"
                              :test-dirs ["test-fail" "test-pass"]}
                  :main-opts ["-m" "metosin.bat-test.cli" "{:exec-args-file \"bat-test.edn\"}"]}}}
