;; note: test dir doesn't exist. this is to test :test-dirs.
{:aliases {:test {:extra-paths ["test"]
                  :extra-deps {metosin/bat-test {:local/root "../.."
                                                 :deps/manifest :deps}}
                  :exec-fn metosin.bat-test.cli/exec
                  :exec-args {:test-dirs ["test"]}
                  :main-opts ["-m" "metosin.bat-test.cli" "{:exec-args-file \"bat-test.edn\"}"]}}}
